body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}

.hidden {
    display: none;
}

.terminal {
    
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #333;
    border: 1px solid #333;
    border-radius: 5px;
    align-items: center;
    }

.command-input input{
    color: wheat;
    width: 100%;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-margin {
    margin-left: 10px;
}

.page-footer {
    background-color: #004d40;
}
.footer-container {
    margin: 5px;
    display: flex;
    justify-content: space-between;
}
.content-section {
    display: none;
}
.active-section {
    display: block;
}